.intro-placeholder {
  background-color: ghostwhite;
  box-shadow: 2px 2px 4px lightgray;
  // font-size: larger;
}

.post-container {
  background-color: lightsteelblue;
  border-radius: 5px;
  box-shadow: 2px 2px 4px lightgray;
}

.creation-date {
  font-size: small;
}
